@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

* {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 1.6rem;
}

main {
  position: relative;

  justify-content: center;
  align-content: center;
  text-align: center;
}

:root {
  --width: calc(80%);
  --main-color: #d97652;
}

button,
.btn {
  border-radius: 4rem;
  background-color: var(--main-color);
  color: white;
  border: none;

  font-size: 1.6rem;
  font-weight: bold;

  padding: 1.5rem 3rem 1.5rem 3rem;
}

/* --------------------------------------------------- */
/* ---------------------- 모달 ----------------------- */
/* --------------------------------------------------- */

.modal {
  width: 60rem;
  height: 40rem;
  border-radius: 3rem;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);

  justify-content: center;

  background-image: url(src/modal-bg-img.png);
  background-size: contain;

  /* 이후 자바 추가 */
  display: none;
}
.modal img {
  width: 11rem;

  margin-top: 6rem;
}
.modal h2 {
  font-weight: bold;
  font-size: 3.6rem;
  color: var(--main-color);

  margin-top: 2.4rem;
}
.modal p {
  font-size: 1.4rem;

  margin-top: 1.2rem;
  margin-bottom: 3.8rem;
}

/* --------------------------------------------------- */
/* ---------------------- 모달끝 ----------------------- */
/* --------------------------------------------------- */

header {
  height: 10.2rem;
  font-size: 1.6rem;
  color: black;

  background-color: #f2e9d8;

  position: sticky;
  top: 0;

  display: flex;
  /* justify-content: center; */
  align-items: center;

  z-index: 1000;
}

header h1 {
  /* padding-top: 3.1rem; */
  /* margin-left: 32rem; */
  margin-left: 15%;
}

/* header nav {
  position: absolute;
  right: 50rem;
  right: 30%;
  top: 4.5rem;
}
*/
.headerNav {
  position: absolute;
  /* right: 50rem; */
  right: 15%;
  /* top: 3rem; */

  display: flex;

  justify-content: center;
  align-items: center;
}
header nav li {
  display: inline-block;
  /* margin-left: 3rem; */
  margin-right: 3rem;
}

/* header .btn {
  position: absolute;
  right: 32rem;
  right: 20%;
  top: 3rem;
} */

/* --------------------------------------------------- */
/* ---------------------- 헤더끝 ----------------------- */
/* --------------------------------------------------- */

.introduction {
  height: 80rem;
  background-color: #f2e9d8;

  overflow: hidden;

  display: flex;
  text-align: left;
  gap: 12rem;

  justify-content: center;
  align-items: center;
}
.introduction h2 {
  font-size: 4.8rem;
  font-weight: bold;

  margin-bottom: 4rem;
}
.introduction p {
  width: 44rem;
  margin-bottom: 5.5rem;
}
.introduction img {
  margin-top: 14rem;
}

/* ---------------------- 위로가기 ----------------------- */

.goToTop {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;

  background-color: white;
  border: solid 0.1rem #c4c4c4;

  padding: 0;

  position: fixed;
  right: 2.4rem;
  bottom: 18.4rem;

  z-index: 1000;
}
.goToTop div {
  width: 1.4rem;
  height: 1.4rem;
  border: 5px solid #c4c4c4;
  border-bottom: 0;
  border-left: 0;

  transform: rotate(-45deg);

  position: absolute;
  top: 1.8rem;
  left: 1.55rem;
}

.goToTop:hover div {
  border-color: #767676;
}

/* ---------------------- 아티클 ----------------------- */

article {
  width: 128rem;
  height: 20rem;
  border-radius: 3rem;
  color: white;

  text-align: left;
  justify-content: center;
  align-content: center;

  position: relative;

  background-color: #263140;
}
article h2 {
  font-size: 3.6rem;
  font-weight: bold;
}
article p {
  font-weight: normal;
}

/* --------------------------------------------------- */
/* ---------------------- 메인끝 ----------------------- */
/* --------------------------------------------------- */

footer {
  height: 16rem;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

footer h2 {
  position: absolute;
  left: 15%;
}
footer h2 img {
  width: 22rem;
}

footer ul {
  position: absolute;
  right: 15%;
}

footer ul li {
  width: 4.2rem;
  height: 4.2rem;
  background-color: #f29d52;
  border-radius: 50%;

  justify-content: center;
  align-content: center;
  text-align: center;

  display: inline-block;
  margin-left: 2rem;
}
