@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

* {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 1.6rem;
}

body {
  height: 100vh;
}

header {
  height: 102px;
  background-color: #f2e9d8;

  position: sticky;
  top: 0;
}
